.upload-btn {
  width: 360px;
  margin: 0 auto;
}

body {
  padding: 12px;
  background-color: #f5f5f5;
}

.el-card {
  margin: 12px 0;
}

.json-tree-indent {
  width: 12px;
  flex: 0 0 12px;
}

.json-tree-value-string {
  text-overflow: initial !important;
  white-space: normal !important;
  word-break: break-all;
}